@media ( max-width : 660px){
    .navbaby .logo{
        position: relative;
        top: -10px;
        left: 100px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbaby .logo{
        height: 40px;
        width:40px;
    }
    .navbaby .logo:hover{
        text-shadow: 1.6px 1.6px 9px #fff;
    }
    .navbaby .logo a{
        color: rgb(255, 0, 0);
        padding-bottom: 10px;
    }

    .about{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding-top: 23px;
        padding-top: 12px;
        background: rgb(237, 237, 243);
        padding-bottom: 45px;
        border: 1.75px rgb(175, 172, 172) solid;
        background: rgb(213, 213, 226);
    }
    .about .left{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 16px;
        padding-top: 40px;
        /* align-items: center;
        justify-content: center; */
        max-width: 400px;
    }
    .about .left p{
        max-width: 310px;
    }
    .about .left h2{
        position: relative;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 9px;
        margin-bottom: 15px;
        text-align: center;
        background: rgb(192, 192, 201);
        width: 1310px;
        max-width: 310px;
    }
    .about .left h2::before{
        content: '';
        position: absolute;
        background: #666;
        width: 20px;
        height: 3px;
        top: 37px;
        left: 0px;
        animation: ani1 8s infinite ease-in ;

    }
    @keyframes ani1{
        from{
            width: 20px;
        }
        to{
            width: 310px;
        }
    }
    .about .right{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 406.5px;
        left: 180px;
        width: 74vw;
        /* height: 450px; */
        height: 100vh;
        flex-wrap: wrap;
        background: rgb(213, 213, 226);
        background: none;
        /* padding-bottom: 15px; */
    }
    .about .right img{
        position: relative;
        top: 12.5px;
        width: 50vw;
        right: 85px;
        /* opacity: 0; */
        height: 50vh;
        /* padding: 8px 0.75px 8px 0.75px; */
        object-fit: cover;
    }
    .about .right .righttxt{
        position: relative;
        bottom: 440.50px;
        /* right: 390px; */
        /* border: 2px solid #383737; */
        width: 405px;
        height: 450px;
    }
    .about .right .righttxt img{
        position: relative;
        width: 100%;
        height: 50vh;
        left: 8px;
        /* opacity: 1; */
    }
    .info{
        position: relative; 
        display: flex;
        flex-direction: column;
        background-color: rgb(237, 237, 243);
        width: 100vw;
        height: 3000px;
    }
    .info .infobox{
        position: relative; 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* margin: 18px;
        margin-left: 30px; */
        /* margin-right: -150px; */
        top: 45px;
        left: 0px;
        width: 90vw;
        height: 30vh;
        /* height: 280px;  */
        justify-content: center;
        /* border: 1px red solid; */
    }
    .infobox:nth-child(1) {
        position: relative;
        right: 120px;
    }
    .infobox:nth-child(2) {
        top: 540px;
        width: 90vw;
    }
    .infobox .himgsec {
        width: 90vw;
        height: 100%;
        background: rgb(237, 237, 243);
        border: rgb(133, 131, 131)1px solid;
    }
    .infobox .htextsec{
        max-width: 750px;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .infobox .htextsec h3{
        position: relative;
        top: 9px;
        left: 56.5%;
    }
    .infobox:nth-child(3) {
        top: 790px;
    }
    .infobox:nth-child(4) {
        top: 1300px;
    }
    /* .infobox:nth-child(even) .btn{

        top: 161px;
        
    
    } */
    .infobox .imgsec {
        width: inherit;
        height: 100%;
        background: rgb(237, 237, 243);
        border: rgb(133, 131, 131)1px solid;
    }
    .infobox .textsec{
        max-width: 750px;
        position: relative;
        background: rgb(133, 131, 131);
        color: #fff;
        
    }
    .infobox  .textsec {
        position: relative;
        /* left: 20px; */
        top: 0px;
        width: 2000px;
        padding: 10px 8px 10px 8px;
        height: 100%;
        height: 50vh;
    }
    .info .infobox:nth-child(even){
        display: flex;
        flex-direction: row-reverse;
        left: -69px;
    }



    .ucmbx .ucbx{
        background: rgb(184, 180, 180);
        width: 100vw;
        height: 100vh;
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        /* border: slateblue 1px solid; */
        padding: 12px;
        margin: 10px 0 10px 0;
    }
    .ucmbx .ucbx .ucleft {
        width: 100vw;
        height: 410px;
        
    }
    .ucmbx .ucbx .ucleft img{
        position: relative;
        top: -12px;
        padding: 3px;
        border-top: 1px #383737 solid;
        border-bottom: 1px #383737 solid;
        width: 100vw;
        height: 30vh;
    }
    .ucmbx .ucbx .ucright{
        display: flex;
        flex-direction: column;
        color: rgb(68, 71, 70);
    }
    .ucmbx .ucbx .ucright{
        margin-top: 17px;
        margin-left: 25px;
        margin-right: 25px;
    }

    footer{
  
        background: rgb(224, 219, 219);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 200vh;
        position: relative;
        padding-top: 100px;
        margin-bottom: 00px;
    }
    /* #contact{
        background: red;
        width: 100vw;
        height: 100vh;
    } */
    .upper{
        background: rgb(224, 219, 219);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        height: 400px;
        flex-wrap: wrap;
        position: relative;
        left: 90px;
    }
    .luluog{
        position: relative;
        left: -20px;
        /* right: 300px; */
        top: 60px;
    }
    .luluog  form input{
        width: 60vw;
        height: 30px;
        font-family: 'Raleway', sans-serif;
    }
}